// typography
$font-family: 'Plus Jakarta Sans', sans-serif;

// color
$main-color: #083644;
$primary-white: #fff;
$primary-light-grey: #EDEEF0;
$primary-dark-grey: #6C7072;
$primary-grey: #738286;
$primary-dark: #0A2530;
$button-color:  #0A2530;
$tip-color:  #820219;
$hover-color:  #0c445a;


// content-wide
$content-width: 1024px;
$content-offset-tablet: 20px;


$screen-mobile: 590px;
$screen-tablet: 990px;


